<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Part B Midterm</title>


  </head>
  <body>

          <h3>PASSWORD STRENGTH CHECKER BY LYMINHTRUNG</h3>
          <h4>Midterm Fundamental Concept of Data Security </h4><br>
          <form method="POST" action="/main/" class="form-group">
            <input type="text" name="password" class="form-control" placeholder="password" value="{{ request.form.password }}"><br>
            <button type="submit" name="submit" class="btn btn-default">Check</button>
          </form>

  </body>
</html>
